@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Lobster&family=Manrope:wght@300&display=swap');
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.small-container{
    width: 60%;
    margin: 0 auto;
}
.main-btn{
    background-color: #FF5959;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    display: inline-block;

}
.flex{
    display: flex;
}
.margin-30{
    margin-top: 30px;
}
.margin-100{
    margin-top: 100px;
}
/* top banner */
.top-banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    background-image:linear-gradient(#ffffff00, #000000), url("images/donation11.jpg");
    text-align: center;
    padding: 180px 0;
}
.top-banner h1{
    font-size: 65px;
    color: #ffffff;
}
.top-banner p{
    color:#fff ;
    font-weight: 200;
}
/* Donate Today */
h2{
    font-size: 45px;
    color: #121212;
}
h3{
    font-size: 30px;
    color:#707070 ;
}
p{
    color: #707070;
}
.text-center{
    text-align: center;
}
.donate-amount h3{
padding:50px 30px;
margin:0 15px;
border-radius: 5px;
max-width: 135px;
max-height: 123px;
background-color: #FAFAFA;
}
.donate-highlight{   
color: #FF5959;
border:2px solid #FF5959;
background-color:#FFEEEE ;
}

.other-amount input[type="text"]{
    width: 100%;
    border: none;
    border-bottom: 1px solid #DADADA;
    font-size: 18px;
    padding: 15px;
    text-align: center;
}
/* Our Plan */
#our-plan .plan{
    width: 33%;
    padding:40px 20px;
    margin-right: 2%;
    border-radius: 5px;

}
#our-plan .plan h4{
    color:#121212 ;
    font-size: 24px;
}
.food{
    background-color:#4f9da630 ;
}
.shelter{
    background-color:#ff595931 ;
}
.education{
    background-color:#fff4d6bf ;
}

/* donation campaigns */

#donation-campains img{
    width: 100%;
    border-radius: 5px;
}
.campaign{
    padding: 30px 0;
}
.half-width{
    width: 40%;
}
.margin-r-10{
    margin-right: 10%;
}
/* get update */
.update-form{
    background-color: #FFF4D6;
    padding: 80px 0;
}
.update-form form{
    width: 50%;
     margin: auto;
}
.update-form input[type="email"]{
    padding: 15px 30px;
    width: 70%;
    background-color: #D9D9D9;
    border: #D9D9D9;
}
.update-form .main-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 30%;
}
/*footer */
footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 40px 0;
}
footer h3{
    font-family: 'Lobster', cursive;
    color: #FF5959;
    margin-bottom: 0;
}
footer p{
    font-family: 'Manrope', sans-serif;
}